<?xml version="1.0"?>
<launch>


    <node name="moveit_bioik_mapping" pkg="human_robot_map" type="moveit_bioik_mapping" output="screen">
        <param name="mapfile" value="$(find human_robot_map)/data/shadow_location_map.csv"/>
        <param name="jointsfile" value="$(find human_robot_map)/data/robot_joints_file.csv"/>
    </node>
</launch>